.container {
    margin: 5rem 10rem;
    table {
        width: 100%;
    }
    button {
        margin: 1rem 0;
    }
    mat-card {
        display: flex;
        justify-content: center;
    }
    .departure-wrapper {
        .search-filter-wrapper {
            display: flex;
            justify-content: space-between;
        }    
    }
}